

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>八仙塵爆傷者開放資料查詢</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
    </style>

<script>
  window.console = window.console || function(t) {};
  window.open = function(){ console.log("window.open is disabled."); };
  window.print   = function(){ console.log("window.print is disabled."); };
</script>

    <!-- fork 陳小風 -->
    
  </head>

  <body>

    <div class="container" ng-cloak ng-app="app" ng-controller="MainController as MainCtrl">
  <h1>八仙塵爆傷者開放資料查詢</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="exampleInputFile">查詢條件：</label>
        <input type="text" class="form-control" ng-model="MainCtrl.query" placeholder="請輸入需要過濾的條件（ex. 姓名、性別）" />
        <p class="help-text">最後更新時間：{{ MainCtrl.Data.lastmodify  }}，資料來源：北市府資訊局</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table st-table="MainCtrl.Data.data" class="table table-striped">
          <thead>
            <tr>
              <th>收治單位</th>
              <th>個人資料</th>
              <th>檢傷</th>
              <th>即時動向</th>
              <th>轉診要求</th>
              <th>刪除註記</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in MainCtrl.Data.data | filter:MainCtrl.query ">
              <td>
                {{ row['編號'] }}<br />
                <a href="https://www.google.com/maps?q={{ row['收治單位'] }}" target="_blank">{{ row['縣市別']}}-{{row['收治單位']}}</a><br />
                <a href="tel:{{phones[row['收治單位']]}}" target="_blank">{{phones[row['收治單位']]}}</a>
                <br />
              </td>
              <td>
                {{ row['姓名']}}<br />
                <span class="label label-default">{{ row['性別']}} {{ row['年齡']}}</span>-<span class="label label-default">{{ row['國籍']}}</span>
              </td>
              <td>
                <span class="label label-default">醫療檢傷: {{row['醫療檢傷']}}</span><br />
                <span class="label label-default">救護檢傷: {{row['救護檢傷']}}</span><br />
                <span class="label label-default">檢傷編號: {{row['檢傷編號']}}</span>
              </td>
              <td>{{ row['即時動向']}}</td>
              <td>{{ row['轉診要求']}}</td>
              <td>{{ row['刪除註記']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      <script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout-6c99970ade81e43be51fa877be0f7600.js"></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
    <script src='https://rawgit.com/lorenzofox3/Smart-Table/master/dist/smart-table.js'></script>

<script>
angular
.module('app', ['smart-table'])
.controller('MainController',
  function ($log, $http, $scope) {
    var self = this;
    self.Data = [];
    $http.get('https://gist.githubusercontent.com/tony1223/098e45623c73274f7ae3/raw').success(function (data) {
        self.Data = data;
    });

    $scope.phones = {
      '聯醫仁愛': '0227093600',
      '聯醫中興': '0225523234',
      '聯醫忠孝': '0227861288',
      '聯醫陽明': '0228353456',
      '臺大醫院': '0223123456',
      '松山三總': '0227642151',
      '內湖三總': '0287923311',
      '臺北榮總': '0228712121',
      '臺北馬偕': '0225433535'
    };
});
      //@ sourceURL=pen.js
</script>

    
    <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
  </body>
</html>
