

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>八仙塵爆傷者開放資料查詢</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
    </style>

<script>
  window.console = window.console || function(t) {};
  window.open = function(){ console.log("window.open is disabled."); };
  window.print   = function(){ console.log("window.print is disabled."); };
</script>

    <!-- fork 陳小風 -->
    
  </head>

  <body>

    <div class="container" ng-cloak ng-app="app" ng-controller="MainController as MainCtrl">
  <h1>八仙塵爆傷者開放資料查詢</h1>
    <div class="row">
      <div class="col-lg-12">
        <span class="label label-info">
          最後更新時間：{{ MainCtrl.Data.lastmodify  }}，資料來源：北市府資訊局
        </span>
        <br />
        <br />
        <div class="alert alert-warning" role="alert">
          於臺北市醫院就醫之傷者家屬,若有相關問題,於晚上八點前可撥打社會局社工科電話
          <a href="tel:0227206528" target="_blank">02-27206528</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="exampleInputFile">查詢條件：</label>
          <input type="text" class="form-control" ng-model="MainCtrl.query" placeholder="請輸入需要過濾的條件（ex. 姓名、性別）" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table st-table="MainCtrl.Data.data" class="table table-striped">
          <thead>
            <tr>
              <th>收治單位</th>
              <th>個人資料</th>
              <th>檢傷</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in MainCtrl.Data.data | filter:MainCtrl.query ">
              <td>
                {{ row['編號'] }}<br />
                <a href="https://www.google.com/maps?q={{ row['收治單位'] }}" target="_blank">{{ row['縣市別']}}<br />{{row['收治單位']}}</a><br />
                <span ng-if="phones[row['收治單位']]" class="animate-if">
                  <a href="tel:{{phones[row['收治單位']]}}" target="_blank">{{phones[row['收治單位']]}}</a><br />
                </span>
                <span ng-if="hospital[row['收治單位']]" class="animate-if">
                  <button type="button" class="btn btn-info btn-xs" ng-click="getHospital(row['收治單位'])">社福中心</button>
                </span>
              </td>
              <td>
                {{ row['姓名']}}<br />
                <span class="label label-default">{{ row['性別']}} {{ row['年齡']}}</span><br />
                <span class="label label-default">{{ row['國籍']}}</span>
              </td>
              <td>
                <span class="label label-default">醫療檢傷: {{row['醫療檢傷']}}</span><br />
                <span class="label label-default">救護檢傷: {{row['救護檢傷']}}</span><br />
                <span class="label label-default">檢傷編號: {{row['檢傷編號']}}</span><br />
                <span class="label label-default">轉診要求: {{row['轉診要求']}}</span><br />
                <span class="label label-default">刪除註記: {{row['刪除註記']}}</span><br />
                <h4><span class="label label-primary">即時動向: {{row['即時動向']}}</span></h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      <script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout-6c99970ade81e43be51fa877be0f7600.js"></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
    <script src='https://rawgit.com/lorenzofox3/Smart-Table/master/dist/smart-table.js'></script>

<script>
angular
.module('app', ['smart-table'])
.controller('MainController',
  function ($log, $http, $scope) {
    var self = this;
    self.Data = [];
    $http.get('https://gist.githubusercontent.com/tony1223/098e45623c73274f7ae3/raw').success(function (data) {
        self.Data = data;
    });

    $scope.phones = {
      '聯醫仁愛': '0227093600',
      '聯醫中興': '0225523234',
      '聯醫忠孝': '0227861288',
      '聯醫陽明': '0228353456',
      '臺大醫院': '0223123456',
      '松山三總': '0227642151',
      '內湖三總': '0287923311',
      '臺北榮總': '0228712121',
      '臺北馬偕': '0225433535',
      '新光醫院': '0228332211',
      '臺北國泰': '0227082121'
    };

    $scope.getHospital = function(name) {
      var hospital = $scope.hospital[name];
      alert(
        '社福中心: ' + hospital['社福中心'] + '\n' +
        '辦公室電話: ' + hospital['辦公室電話'] + '\n' +
        '主任: ' + hospital['主任'] + '\n' +
        '主任手機: ' + hospital['主任手機']
      );
    };

    $scope.hospital = {
      '臺大醫院': {
          "社福中心": "中正",
          "辦公室電話": "02-23962340",
          "主任": "林巧翊主任",
          "主任手機": "0972699132"
      },
      '聯醫中興': {
          "社福中心": "大同",
          "辦公室電話": "02-25974280",
          "主任": "李恩琪",
          "主任手機": "0972699126"
      },
      '臺北馬偕': {
          "社福中心": "中山",
          "辦公室電話": "02-25156223",
          "主任": "蔡淑婉主任",
          "主任手機": "0972699122"
      },
      '松山三總': {
          "社福中心": "松山",
          "辦公室電話": "02-27565018",
          "主任": "黃婉貞",
          "主任手機": "0972699159"
      },
      '聯醫仁愛': {
          "社福中心": "大安",
          "辦公室電話": "02-27000960",
          "主任": "張必宜",
          "主任手機": "0972699146"
      },
      '臺北國泰': {
          "社福中心": "大安",
          "辦公室電話": "02-27000960",
          "主任": "張必宜",
          "主任手機": "0972699146"
      },
      '臺北醫學': {
          "社福中心": "信義",
          "辦公室電話": "02-27616515",
          "主任": "蔡雅芬",
          "主任手機": "0972699155"
      },
      '新光醫院': {
          "社福中心": "士林",
          "辦公室電話": "02-28350247",
          "主任": "許嘉倪",
          "主任手機": "0972699177"
      },
      '聯醫陽明': {
          "社福中心": "士林",
          "辦公室電話": "02-28350247",
          "主任": "許嘉倪",
          "主任手機": "0972699177"
      },
      '臺北榮總': {
          "社福中心": "北投",
          "辦公室電話": "02-28942640",
          "主任": "謝麗華",
          "主任手機": "0972699183"
      },
      '振興醫院': {
          "社福中心": "北投",
          "辦公室電話": "02-28942640",
          "主任": "謝麗華",
          "主任手機": "0972699183"
      },
      '內湖三總': {
          "社福中心": "內湖",
          "辦公室電話": "02-27928701",
          "主任": "翁淑卿",
          "主任手機": "0972699166"
      },
      '聯醫忠孝': {
          "社福中心": "南港",
          "辦公室電話": "02-27831407",
          "主任": "蔡妙娟",
          "主任手機": "0972699173"
      },
      '萬芳醫院': {
          "社福中心": "文山",
          "辦公室電話": "02-29323587",
          "主任": "魏英珠",
          "主任手機": "0972187503"
      }
    };
});
      //@ sourceURL=pen.js
</script>

    
    <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
  </body>
</html>
