

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>八仙粉塵爆炸傷者開放資料查詢</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>

    <script>
      window.console = window.console || function(t) {};
      window.open = function(){ console.log("window.open is disabled."); };
      window.print   = function(){ console.log("window.print is disabled."); };
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64601259-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
       var _mfq = _mfq || [];
       (function() {
           var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
           mf.src = "//cdn.mouseflow.com/projects/0ff72b6c-7719-4cbc-a8e2-62f0f1ce1d01.js";
           document.getElementsByTagName("head")[0].appendChild(mf);
       })();
    </script>

    <!-- fork 陳小風 -->
    
  </head>

  <body>
  <div class="container" ng-cloak ng-app="app" ng-controller="MainController as MainCtrl">

    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" ng-class="{active: type=='people'}"><a href="#" ng-click="type='people'">家屬尋人</a></li>
          <li role="presentation" ng-class="{active: type=='hospital'}"><a href="#" ng-click="type='hospital'">醫院概況</a></li>
          <li role="presentation" ng-class="{active: type=='blood'}"><a href="#" ng-click="type='blood'">捐款/捐血</a></li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">八仙粉塵爆炸傷者查詢</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://www.gov.taipei/ct.asp?xItem=108880666&ctNode=38161&mp=100001" target="_blank">資料來源: 臺北市府資訊局</a>
            </li>
            <li>
              <a href="http://creativecommons.tw/cc0" target="_blank">License: CC0</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他平台 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://er.mohw.g0v.tw/#/dashboard/file/default.json" target="_blank">全國重度級急救責任醫院急診即時訊息</a></li>
                <li><a href="https://www.google.com/maps/d/u/0/viewer?mid=zGq2VJ5NdtUs.kDYAcwSlWkN8" target="_blank">台灣捐血站/車地圖</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group">
          <input type="text" ng-show="type=='people'" class="form-control" ng-model="query" placeholder="請輸入搜尋的條件（ex. 姓名、檢傷、收治單位）" ng-change="ga('send', 'input', 'search', 'typing', 'text', query)" />
          <input type="text" ng-show="type=='blood'" class="form-control" ng-model="blood" placeholder="請輸入搜尋的捐血車/站" />
        </div>
      </div>
    </nav>
    <div class="row" ng-show="type=='people' || type=='hospital'">
      <div class="col-lg-12">
        <div>
          <span class="label label-info">最後更新: {{ MainCtrl.Data.lastmodify  }}</span>
        </div>
        <br />
        <div class="alert alert-warning" role="alert">
          - 臺北市醫院就醫之傷者家屬,若有相關問題,於晚上八點前可撥打社會局社工科電話
          <a href="tel:0227206528" target="_blank">02-27206528</a>
          <br />
          - 應變中心24小時服務專線
          <a href="tel:0229646715" target="_blank">02-29646715</a>、
          <a href="tel:0289535599" target="_blank">02-89535599</a>
          <br />
          - 陽光基金會
          北區<a href="tel:0225078006" target="_blank">02-25078006</a>、
          中區<a href="tel:0423582336" target="_blank">04-23582336</a>、
          雲嘉<a href="tel:052280300" target="_blank">05-2280300</a>、
          南區<a href="tel:075587166" target="_blank">07-5587166</a>、
          東區<a href="tel:038563213" target="_blank">03-8563213</a>、
        </div>
        <br />
        <span class="label label-success">已出院: {{total['已出院']}}</span>
        <span class="label label-warning">未出院: {{total['未出院']}}</span>
      </div>
    </div>
    <div class="row" ng-show="type=='blood'">
      <div class="col-lg-12">
        <div class="alert alert-info" role="alert">
          - 新北市政府捐款帳戶：</br>
          &nbsp;&nbsp;匯款單加註「指定八仙粉塵氣爆救助專案」</br>
          &nbsp;&nbsp;戶名：新北市社會救濟會報專戶</br>
          &nbsp;&nbsp;帳號：027038002803（台灣銀行板橋分行）</br>
          - <a href="http://www.sunshine.org.tw/donation/money2009.asp" target="_blank">陽光基金會（郵政劃撥帳號：05583335 ）</a>
        </div>
        <div class="alert alert-warning" role="alert">
          - 捐血車/站 資料可能過舊，出發前建議電話確認</br>
          - 血有保存期限問題，建議分散捐血時間</br>
          <a href="http://www.blood.org.tw/Internet/main/blood_before/index.html" target="_blank">更多捐血須知，點此連結</a>
        </div>
      </div>
    </div>
    <div class="row" ng-show="type=='people'">
      <div class="col-lg-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>收治單位</th>
              <th>個資</th>
              <th>檢傷</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in MainCtrl.Data.data | advancefilter: query">
              <td>
                {{ row['編號'] }}<br />
                <a href="https://www.google.com/maps?q={{ map[row['收治單位']].address || row['收治單位'] }}" target="_blank">{{ row['縣市別']}}<br />{{row['收治單位']}}</a><br />
                <span ng-if="map[row['收治單位']].phone" class="animate-if">
                  <a href="tel:{{map[row['收治單位']].phone}}" target="_blank" style="white-space: nowrap;">{{map[row['收治單位']].phone}}</a><br />
                </span>
                <span ng-if="hospital[row['收治單位']]" class="animate-if">
                  <button type="button" class="btn btn-info btn-xs" ng-click="getHospital(row['收治單位'])">社福中心</button>
                </span>
              </td>
              <td>
                {{ row['姓名']}}<br />
                <span class="label label-default">{{ row['性別']}} {{ row['年齡']}}</span><br />
                <span class="label label-default">{{ row['國籍']}}</span>
              </td>
              <td>
                <span class="label label-default">醫療檢傷: {{row['醫療檢傷']}}</span><br />
                <span class="label label-default">救護檢傷: {{row['救護檢傷']}}</span><br />
                <span class="label label-default">檢傷編號: {{row['檢傷編號']}}</span><br />
                <span class="label label-default">轉診要求: {{row['轉診要求']}}</span><br />
                <span class="label label-default">刪除註記: {{row['刪除註記']}}</span><br />
                <h4>
                  <span ng-switch="row['即時動向']">
                    <span ng-switch-when="出院" class="label label-success">
                      即時動向: {{row['即時動向']}}
                    </span>
                    <span ng-switch-when="自動出院
  (AAD)" class="label label-success">
                      即時動向: {{row['即時動向']}}
                    </span>
                    <span ng-switch-default class="label label-primary">
                      即時動向: {{row['即時動向']}}
                    </span>
                  </span>
                </h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-show="type=='hospital'">
      <div class="col-lg-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>醫院</th>
              <th>統計</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, row) in total['醫院']">
              <td>{{key}}</td>
              <td>
                <div>
                  <span class="label label-danger">重傷: {{row['重傷']}}</span>
                  <span class="label label-warning">中傷: {{row['中傷']}}</span>
                  <span class="label label-info">輕傷: {{row['輕傷']}}</span>
                </div>
                <br />
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: {{ row['重傷'] / total.max * 100 }}%">
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: {{ row['中傷'] / total.max * 100 }}%">
                  </div>
                  <div class="progress-bar progress-bar-info" style="width: {{ row['輕傷'] / total.max * 100 }}%">
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-show="type=='blood'">
      <div class="col-lg-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>捐血車/站</th>
              <th>聯絡方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in bloods | filter: blood ">
              <td>
                {{row[0]}}<br />
                {{row[1]}}
              </td>
              <td>
                <a href="tel:{{row[2]}}">{{row[2]}}</a><br />
                <a href="https://www.google.com/maps?q={{row[3]}}" target="_blank">{{row[3]}}</a><br />
                <span class="label label-info">{{row[4]}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
  <script src="//cdn.rawgit.com/lorenzofox3/Smart-Table/master/dist/smart-table.js"></script>

<script>
angular
.module('app', [])
.filter('advancefilter', [
  '$filter',
  function($filter) {
    return function(data, text) {
      var textArr = (text || "").split('');
      if (text && text.length > 2) {
        textArr.splice(1,1);
      }
      angular.forEach(textArr, function(test){
          if (test) {
            data = data.filter(function(item) {
              return item.keyword.indexOf(test) > -1;
            });
          }
      });
      return data;
    };
  }
])
.controller('MainController',
  function ($http, $scope) {
    var self = this;
    self.Data = [];

    $scope.type = 'people';

    $scope.total = {
      '已出院': 0,
      '未出院': 0,
      '重傷': 0,
      '中傷': 0,
      '輕傷': 0,
      '醫院': {},
      'max': 0
    };

    $http.get('//tonyq.org/kptaipei/api-20150628.php').success(function (data) {
      self.Data = data;
      self.Data.data.forEach(function(item) {
        item.keyword = [
          item['編號'],
          item['縣市別'],
          item['收治單位'],
          item['姓名'],
          item['性別'],
          item['年齡'],
          item['國籍'],
          item['醫療檢傷'],
          item['救護檢傷'],
          item['檢傷編號'],
          item['轉診要求'],
          item['刪除註記'],
          item['即時動向']
        ].join(';');

        if (/出院/gi.test(item['即時動向'])) {
          $scope.total['已出院'] += 1;
        } else {
          $scope.total['未出院'] += 1;

          if (!$scope.total['醫院'][item['收治單位']]) {
            $scope.total['醫院'][item['收治單位']] = {
              '重傷': 0,
              '中傷': 0,
              '輕傷': 0
            };
          }

          var hosp = $scope.total['醫院'][item['收治單位']];

          if (item['救護檢傷'].trim() == '重傷') {
            $scope.total['重傷'] += 1;
            hosp['重傷'] += 1;
          } else if (item['救護檢傷'].trim() == '中傷') {
            $scope.total['中傷'] += 1;
            hosp['中傷'] += 1;
          } else if (item['救護檢傷'].trim() == '輕傷') {
            $scope.total['輕傷'] += 1;
            hosp['輕傷'] += 1;
          }

          var tmp = hosp['重傷'] + hosp['中傷'] + hosp['輕傷'];
          if ($scope.total.max < tmp) {
            $scope.total.max = tmp;
          }
        }

      });
    });

    $scope.map = {
      '聯醫仁愛': {
        'phone': '02-27093600',
        'address': '台北市大安區仁愛路四段10號'        
      },
      '聯醫中興': {
        'phone': '02-25523234',
        'address': '台北市鄭州路145號'        
      },
      '聯醫忠孝': {
        'phone': '02-27861288',
        'address': '台北市南港區同德路87號'        
      },
      '聯醫陽明': {
        'phone': '02-28353456',
        'address': '台北市雨聲街105號'        
      },
      '臺大醫院': {
        'phone': '02-23123456',
        'address': '台北市中正區中山南路7號'        
      },
      '松山三總': {
        'phone': '02-27642151',
        'address': '台北市松山區健康路131號'        
      },
      '內湖三總': {
        'phone': '02-87923311',
        'address': '台北市內湖區成功路二段325號'        
      },
      '臺北榮總': {
        'phone': '02-28712121',
        'address': '台北市北投區石牌路二段201號'        
      },
      '臺北國泰': {
        'phone': '02-27082121',
        'address': '台北市仁愛路四段280號'        
      },
      '臺北馬偕': {
        'phone': '02-25433535',
        'address': '台北市中山區中山北路二段92號'        
      },
      '新光醫院': {
        'phone': '02-28332211',
        'address': '台北市士林區文昌路95號'        
      },
      '振興醫院': {
        'phone': '02-28264400',
        'address': '台北市北投區振興街45號'        
      },
      '淡水馬偕': {
        'phone': '02-25433535',
        'address': '新北市淡水區民生路45號'        
      },
      '聖保祿醫': {
        'phone': '03-3773300',
        'address': '桃園市桃園區建新街123號'        
      },
      '中國附醫': {
        'phone': '02-27919696',
        'address': '台北市內湖區內湖路二段360號'        
      },
      '中國': {
        'phone': '02-27919696',
        'address': '台北市內湖區內湖路二段360號'        
      },
      '北醫附醫': {
        'phone': '02-27372181',
        'address': '台北市信義區吳興街252號'        
      },
      '萬芳醫院': {
        'phone': '02-29307930',
        'address': '台北市文山區興隆路三段111號'        
      },
      '中山醫院': {
        'phone': '02-27081166',
        'address': '台北市大安區仁愛路四段112巷11號'        
      },
      '義大醫院': {
        'phone': '07-6150011',
        'address': '雄市燕巢區義大路1號'        
      },
      '基隆長庚': {
        'phone': '02-24313131',
        'address': '基隆市安樂區麥金路222號'        
      },
      '新竹馬偕': {
        'phone': '03-6119595',
        'address': '新竹市東區光復路二段690號'        
      },
      '衛部台北': {
        'phone': '02-22765566',
        'address': '新北巿新莊區思源路127號'        
      },
      '板橋市醫': {
        'phone': '02-22575151',
        'address': '新北市板橋區英士路198號'        
      },
      '三重市醫': {
        'phone': '02-29829111',
        'address': '新北市三重區新北大道一段3號'        
      },
      '亞東醫院': {
        'phone': '02-89667000',
        'address': '新北市板橋區南雅南路二段21號'        
      },
      '慈濟台北': {
        'phone': '02-66289779',
        'address': '新北市新店區建國路289號'        
      },
      '恩主': {
        'phone': '02-26723456',
        'address': '新北市三峽區復興路399號'        
      },
      '國泰汐止': {
        'phone': '02-26482121',
        'address': '新北市汐止區建成路59巷2號'        
      },
      '耕莘醫院': {
        'phone': '02-22193391',
        'address': '新北市新店區中正路362號'        
      },
      '雙和醫院': {
        'phone': '02-22490088',
        'address': ' 新北市中和區中正路291號'        
      },
      '板橋中興': {
        'phone': '02-29590707',
        'address': '新北市板橋區忠孝路15號'        
      },
      '新泰': {
        'phone': '02-29962121',
        'address': '新北市新莊區新泰路157號'        
      },
      '桃園醫院': {
        'phone': '03-3699721',
        'address': '園市桃園區中山路1492號'        
      },
      '桃園總醫': {
        'phone': '03-4799595',
        'address': '桃園縣龍潭鄉中興路168號'        
      },
      '林口長庚': {
        'phone': '03-3281200',
        'address': '桃園市龜山區復興街5號'        
      },
      '敏盛': {
        'phone': '03-3179599',
        'address': '桃園市桃園區經國路168號'        
      },
      '壢新': {
        'phone': '03-4941234',
        'address': '桃園市平鎮區廣泰路77號'        
      },
      '台北長庚': {
        'phone': '02-27135211',
        'address': '台北市敦化北路199號'        
      },
      '聖保祿醫院': {
        'phone': '03-3613141',
        'address': ' 桃園市桃園區建新街123號'        
      }
    };

    $scope.getHospital = function(name) {
      var hospital = $scope.hospital[name];
      alert(
        '社福中心: ' + hospital['社福中心'] + '\n' +
        '辦公室電話: ' + hospital['辦公室電話'] + '\n' +
        '主任: ' + hospital['主任']
      );
    };

    $scope.hospital = {
      '臺大醫院': {
          "社福中心": "中正",
          "辦公室電話": "02-23962340",
          "主任": "林巧翊主任"
      },
      '聯醫中興': {
          "社福中心": "大同",
          "辦公室電話": "02-25974280",
          "主任": "李恩琪"
      },
      '臺北馬偕': {
          "社福中心": "中山",
          "辦公室電話": "02-25156223",
          "主任": "蔡淑婉主任"
      },
      '松山三總': {
          "社福中心": "松山",
          "辦公室電話": "02-27565018",
          "主任": "黃婉貞"
      },
      '聯醫仁愛': {
          "社福中心": "大安",
          "辦公室電話": "02-27000960",
          "主任": "張必宜"
      },
      '臺北國泰': {
          "社福中心": "大安",
          "辦公室電話": "02-27000960",
          "主任": "張必宜"
      },
      '北醫附醫': {
          "社福中心": "信義",
          "辦公室電話": "02-27616515",
          "主任": "蔡雅芬"
      },
      '新光醫院': {
          "社福中心": "士林",
          "辦公室電話": "02-28350247",
          "主任": "許嘉倪"
      },
      '聯醫陽明': {
          "社福中心": "士林",
          "辦公室電話": "02-28350247",
          "主任": "許嘉倪"
      },
      '臺北榮總': {
          "社福中心": "北投",
          "辦公室電話": "02-28942640",
          "主任": "謝麗華"
      },
      '振興醫院': {
          "社福中心": "北投",
          "辦公室電話": "02-28942640",
          "主任": "謝麗華"
      },
      '內湖三總': {
          "社福中心": "內湖",
          "辦公室電話": "02-27928701",
          "主任": "翁淑卿"
      },
      '聯醫忠孝': {
          "社福中心": "南港",
          "辦公室電話": "02-27831407",
          "主任": "蔡妙娟"
      },
      '萬芳醫院': {
          "社福中心": "文山",
          "辦公室電話": "02-29323587",
          "主任": "魏英珠"
      }
    };

    $scope.bloods = [
      [
        '台北捐血中心',
        '每日08:00-17:00',
        '02-28971600',
        '台北市北投區立德路123號',
        '捷運忠義站、和信醫院旁'
      ],
      [
        '基隆捐血站',
        '每日08:00-18:00(週一延長至19:00)',
        '02-24278500',
        '基隆市信一路14號1樓'
      ],
      [
        '板橋捐血站',
        '每日08:00-18:00(週一延長至19:00)',
        '02-29524117',
        '新北市板橋市中山路一段50巷36號2樓之4',
        '府中站2號出口往中路方向步行約10分鐘'
      ],
      [
        '關渡捐血室',
        '每日08:00-17:00',
        '02-28971600#6141',
        '台北市立德路123號',
        '捷運忠義站和信醫院旁'
      ],
      [
        '南海捐血室',
        '每日08:00-17:30',
        '02-23511601',
        '台北市南海路1號3樓',
        '捷運中正紀念堂站1號出口南門市場對面'
      ],
      [
        '市府捐血室',
        '每日09:00-17:00(週日不作業)',
        '02-27208889#3383',
        '台北市政府西大門內左側',
        '捷運市政府站2號出口'
      ],
      [
        '長春捐血室',
        '每日09:00-18:00(週日不作業)',
        '02-27314801',
        '台北市復興北路69號5樓',
        '捷運南京東路站'
      ],
      [
        '汐止捐血室',
        '每日09:00-17:00(週二、六不作業)',
        '02-26428013',
        '新北市汐止市新台五路一段234號6樓之1'
      ],
      [
        '新店捐血室',
        '每日09:00-17:00(週一延長至19:00,週日不作業)',
        '02-29128499',
        '新北市新店區民族路167號',
        '捷運七張站下車，轉乘耕莘醫院接駁車至捐血室或捷運大坪林站1號出口耕莘醫院停車場斜對面'
      ],
      [
        '三重捐血室',
        '每日09:00-17:00(週一不作業)',
        '02-29862780',
        '新北市三重市重新路三段81號3樓'
      ],
      [
        '捷運捐血室',
        '每日10:00-18:00(週一不作業)',
        '02-23706880',
        '捷運台北車站B1七號出口誠品書店旁'
      ],
      [
        '台北車站捐血點',
        '每日09:30-17:30',
        '02-23143221',
        '台北火車站大廳西北角'
      ],
      [
        '台大號捐血車',
        '每日09:00-17:00',
        '02-23644952',
        '台北市新生南路台灣大學側門口',
        '捷運公館站3號出口'
      ],
      [
        '公園號捐血車',
        '每日09:00-18:00',
        '02-23811268',
        '二二八和平公園襄陽路假山旁',
        '捷運臺大醫院站4號出口'
      ],
      [
        '忠孝號捐血車',
        '每日11:00-19:00(週一不作業)',
        '02-27512351',
        '台北市大安路一段瑠公公園旁',
        '捷運忠孝復興站4號出口往東區地下街14號出口瑠公公園旁'
      ],
      [
        '峨嵋號捐血車',
        '每日13:00-21:00',
        '02-23751189',
        '台北市峨嵋街立體停車場旁',
        '捷運西門站6號出口'
      ],
      [
        '新莊號捐血車',
        '每日10:00-18:00(週五不作業)',
        '02-89941488',
        '新北市新莊市中華路一段+復興路一段交叉口',
        '新莊運動公園旁、新莊站1號出口'
      ],
      [
        '捷運捐血室',
        '每日10:00-18:00(週三休息)',
        '02-23706880',
        '台北車站',
        '台北車站B1M7出口,誠品書店旁步行5分鐘'
      ],
      [
        '新光站前號捐血庫',
        '每日11:00-19:00',
        '0961-236683',
        '台北市忠孝西路一段66號新光摩天大樓廣場前'
      ],
      [
        '新店捐血室',
        '每日09:00-17:00',
        '02-22188867',
        '新北市民權路95號6樓之2'
      ],
      [
        '中和號捐血庫',
        '每日09:00-17:00(週六、日休息)',
        '02-29299437',
        '新北市中安街圖書館旁823公園內',
        '永安市場站步行約5分鐘'
      ],
      [
        '土城號捐血車',
        '每日09:00-17:00(週六、日休息)',
        '02-82625140',
        '新北市裕民路171巷裕民廣場內',
        '海山站3號出口往裕民路方向步行約10分鐘'
      ]
    ];
});
      //@ sourceURL=pen.js
</script>
  </body>
</html>
